body {
	background-color: #f0e2c8;
	text-align: center;
	color: #B32E07;
}
* {
	font-family: 'Josefin Sans';
}
a {
	color: #629ebb;
}

li {
  	margin-bottom: 10px;
	text-align: center;
}

.tags
{

}

.tags li
{ 
    display:inline-block;
    list-style-type: none;
    text-decoration: none;
    margin: 10px 0 0 0;
}

.tags ul a
{
    text-decoration: none;
    padding: 4px;
    border: 1px solid #F2F0F0;
    margin: 2px;
}

.tags ul
{
    text-align:center;    
}
